<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Mairbek Khadikov</title>
    <meta name="description" content="Personal web site of Mairbek Khadikov">
    <meta name="author" content="Mairbek Khadikov [mairbek.khadikov at gmail dot com]">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .container > footer p {
      	text-align: right;
      }
      .photoblock {
      	text-align: center;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <link rel="alternate" type="application/atom+xml" title="Mairbek Khadikov" href="http://feeds.feedburner.com/mkhadikov">
    <link href="http://feeds.feedburner.com/mkhadikov" rel="alternate" title="Mairbek Khadikov" type="application/atom+xml" />

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29152018-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/#">Mairbek Khadikov</a>
          <ul class="nav">
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="http://github.com/mairbek">Projects</a></li>
            <li><a href="http://ua.linkedin.com/in/mairbekkhadikov">Resume</a></li>
          </ul>
        </div>
      </div>
    </div>
    

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>Tail Sping <small>Personal Site</small></h1>
        </div>
        <div class="row">
          <div class="span10">
	    <div class="alert-message warning">
		    <p><strong>Warning!</strong> Work on site is still in progress</p>
	    </div>
		    {{ content }}
          </div>
          <div class="span4">
		<dl>
			<dt><h3>About Me</h3></dt>
			<dd>Software Development Enthusiast</dd>
		</dl>
		<dl>
			<dt><h3>Contacts</h3></dt>
			<dd><span class="label imporant">E-Mail</span> mkhadikov at gmail.com</dd>
			<dd><span class="label notice">twitter</span> <a href="http://twitter.com/mairbek">mairbek</a></dd>

		</dl>
            
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Mairbek Khadikov, 2011</p>
      </footer>

    </div> <!-- /container -->

 </body>
</html>
