---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  <article>
    <h2>Mairbek Khadikov</h2>
    <img src="/images/khadikov.jpg" alt="Mairbek Khadikov"/>
    <p>
      I'm a Software Engineer from Kharkiv, Ukraine. I'm interested in innovative projects, distributed computing, functional programming, robotics, artificial intelligence and machine learning. Usually, I spend my time on writing code, skateboarding, reading and learning.
    </p>
  </article>
  <article>
  <h3>Recent Blog Posts</h3>
  {% for post in paginator.posts %}
    <h5 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h5>
  {% endfor %}
  </article>
  <article>
    <h3>Presentations</h3>
    <h5><a href="http://mkhadikov.com/talks/finagle/index.html?theme=simple">Asynchronous RPC with 
Finagle</a> at DevTime (Kharkiv, Ukraine), 2013</h5>
    <h5><a href="http://www.slideshare.net/mairbek/slides-10623424">Continuous Performance Testing</a> at XP Days (Kiev, Ukraine), 2012</h5>
    <h5><a href="http://www.slideshare.net/mairbek/zookeeper-presentation">Coordination in Distributed Systems</a> at Dev-Time (Kharkov, Ukraine), 2012</h5>
    <h5><a href="http://www.slideshare.net/mairbek/ss-7079843">Tips for Successful Web App Test Automation (Rus)</a> at Selenium Camp (Kiev, Ukraine), 2011</h5>
  </article>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
